# Webapp
webapp/node_modules/*
webapp/package-lock.json
webapp/build/

# Server
server/go.sum
server/cmd/server/bin

# other 
bin/


# VScode
.vscode/
.DS_Store

# db
*.db

temp/

debugging-tools/
poc_scripts/
related-tools/

webapp/dist

server/certs/